<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employer/jobs-posted"></ion-back-button>
    </ion-buttons>
    <ion-title>Post-job</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateJob()" [disabled]="!form.valid||!this.form.get('image').value">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Company:</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Job Profile:</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="profile"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Salary(LPA):</ion-label>
            <ion-input type="number" formControlName="salary"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Deadline:</ion-label>
            <ion-input id="fromDate" value="{{fromDate|date:'yyyy-MM-dd'}}"></ion-input>
            <ion-popover trigger="fromDate" [keepContentsMounted]=true>
              <ng-template>
                <ion-datetime presentation="date" [showDefaultButtons]="true" [(ngModel)]="fromDate" id="fromDate" formControlName="deadline"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size-sm="6"  offset-sm="3">
          <ion-item>
            <ion-label position="floating">Job Description:</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description').valid&&form.get('description').touched">
        <ion-col size-sm="6" offset-sm="3">
          <label>Description must be between 1 and 500 characters.</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6"  offset-sm="3">
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Skills Required:</ion-label>
            <ion-select ngModel="none" name="skills" interface="popover" formControlName="skills" [multiple]="true">
              <ion-select-option value="Java">Java</ion-select-option>
              <ion-select-option value="Python">Python</ion-select-option>
              <ion-select-option value="React">React</ion-select-option>
              <ion-select-option value="HTML5">React</ion-select-option>
              <ion-select-option value="JavaScript">React</ion-select-option>
              <ion-select-option value="CSS">CSS</ion-select-option>
              <ion-select-option value="Bootstrap">Bootstrap</ion-select-option>
              <ion-select-option value="PHP">PHP</ion-select-option>
              <ion-select-option value="SQL">SQL</ion-select-option>
              <ion-select-option value="C++">C++</ion-select-option>
              <ion-select-option value="Ruby">Ruby</ion-select-option>
              <ion-select-option value=".NET">.NET</ion-select-option>
              <ion-select-option value="Angular">Angular</ion-select-option>
              <ion-select-option value="NodeJS">NodeJS</ion-select-option>
              <ion-select-option value="Linux">Linux</ion-select-option>
              <ion-select-option value="AWS">AWS</ion-select-option>
              <ion-select-option value="Azure">Azure</ion-select-option>
              <ion-select-option value="Oracle">Oracle</ion-select-option>
              <ion-select-option value="MongoDB">MongoDB</ion-select-option>
              <ion-select-option value="Firebase">Firebase</ion-select-option>
              <ion-select-option value="Android">Android</ion-select-option>
              <ion-select-option value="Ionic">Ionic</ion-select-option>
              <ion-select-option value="PowerBI">PowerBI</ion-select-option>
              <ion-select-option value="Cloud Security">Cloud Security</ion-select-option>
              <ion-select-option value="NLP">NLP</ion-select-option>
              <ion-select-option value="Github">Github</ion-select-option>
              <ion-select-option value="UX and UI">UX and UI</ion-select-option>
              <ion-select-option value="Machine Learning">Machine Learning</ion-select-option>


            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Experience Required(years):</ion-label>
            <ion-select ngModel="None" name="role" interface="popover" formControlName="experience">
              <ion-select-option value="None">None</ion-select-option>
              <ion-select-option value="1-2">1-2</ion-select-option>
              <ion-select-option value="2-3">2-3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Location(City):</ion-label>
            <ion-select ngModel="Remote" interface="popover" formControlName="location">
              <ion-select-option value="Remote">Remote</ion-select-option>
              <ion-select-option value="Mumbai">Mumbai</ion-select-option>
              <ion-select-option value="Banglore">Banglore</ion-select-option>
              <ion-select-option value="Chennei">Chennei</ion-select-option>
              <ion-select-option value="Delhi">Delhi</ion-select-option>
              <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6"  offset-sm="3">
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Job Type:</ion-label>
            <ion-select ngModel="Full-time" interface="popover" formControlName="jobType">
              <ion-select-option value="Full-time">Full-time</ion-select-option>
              <ion-select-option value="Part-time">Part-time</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6"  offset-sm="3">
          <app-image-picker
          [showPreview]="form.get('image').value"
          (imagePick)="onImagePicked($event)"></app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
</ion-content>
