<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/employee/jobs">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="special2">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
    <h1>Welcome {{this.firstname}} {{this.lastname}}!</h1>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading && jobs.length>0">
    <ion-row>
      <ion-col>
        <ion-card style="position: relatives;" class="ion-margin-horizontal ion-margin-vertical">
          <ion-img  [routerLink]="['/employee',
          jobs[0].jobId]" [src]="[jobs[0].companyLogo]"></ion-img>
        </ion-card>
        <ion-row>
          <ion-col size="2.5" size-sm="2" offset="1" offset-sm="2.5">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-img [src]="[jobs[0].companyLogo]"></ion-img>
        </ion-avatar></ion-col>
          <ion-col size="2.5" size-sm="2">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-img [src]="[jobs[0].companyLogo]"></ion-img>
        </ion-avatar></ion-col>
        <ion-col size="2.5" size-sm="2">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-img [src]="[jobs[0].companyLogo]"></ion-img>
        </ion-avatar></ion-col>
        <ion-col size="2.5" size-sm="2">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-img [src]="[jobs[0].companyLogo]"></ion-img>
        </ion-avatar>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="position: absolute; top:60%; right: 5%;" class="ion-text-end">
          <ion-button size="default" (click)="onMoreDetail(jobs[0].jobId)">More details</ion-button>
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding" *ngIf="isLoading">
    <ion-row>
      <ion-col>
        <ion-card style="position: relatives;" class="ion-margin-horizontal ion-margin-vertical">
          <ion-skeleton-text [animated]="true" style="height: 300px;"></ion-skeleton-text>
        </ion-card>
        <ion-row>
          <ion-col size="2.5" size-sm="2" offset="1" offset-sm="2.5">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar></ion-col>
          <ion-col size="2.5" size-sm="2">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar></ion-col>
        <ion-col size="2.5" size-sm="2">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar></ion-col>
        <ion-col size="2.5" size-sm="2">
        <ion-avatar style="position:absolute;width: 73px;height: 73px; bottom:-18px;">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="position: absolute; top:60%; right: 5%;" class="ion-text-end">
          <ion-skeleton-text [animated]="true" style="width: 30% ;left:60%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-margin-top" >
    <ion-row>
      <ion-col>
        <ion-label class="ion-text-center">
        <h1 class="">Jobs</h1>
        <h2>Apply to 1000+ jobs for free</h2>
      </ion-label>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-top">
        <ion-label class="ion-text-center">
          <p>POPULAR CITIES</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <div class="scrolling-wrapper">
      <div class="cards">
    <ion-row class="flex-container">
      <ion-col size="4" *ngFor="let city of cities">
        <ion-card class="ion-padding">
          <ion-img [src]="[city.cityImgUrl]" (click)="onCityClick(city.id)"></ion-img>
        </ion-card>
        <div class="ion-text-center" style="position: absolute;top:15px; left: 15px; background: rgba(255,0,0,0.6);color: white; font-weight: bolder; width: fit-content">
       <ion-text>
        {{city.cityName}}
        </ion-text>
      </div>
      </ion-col>
    </ion-row>
  </div>
  </div>
    <ion-row>
      <ion-col class="ion-margin-top">
        <ion-label class="ion-text-center">
          <p>POPULAR CATEGORIES</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <div class="scrolling-wrapper">
      <div class="cards">
    <ion-row class="flex-container">
      <ion-col size="4" *ngFor="let category of categories">
        <ion-card class="ion-padding">
          <ion-img [src]="[category.categoryImgUrl]" (click)="onCategoryClick(category.id)"></ion-img>
        </ion-card>
       <ion-text style="position: absolute;top:15px;left: 15px; background: rgba(255,0,0,0.6);color: white; font-weight: bolder; width: fit-content;">
        {{category.categoryName}}
       </ion-text>

      </ion-col>
    </ion-row>
  </div>
  </div>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <a routerLink="/employee/jobs">View all jobs</a>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-grid>
      <!-- <ion-row>
        <ion-col size="10" offset="1" class="ion-margin-top">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <ion-img [src]="jobs[0].companyLogo"></ion-img>
            </ion-thumbnail>
            <ion-label>Minimum CTC of 3 LPA</ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1" class="ion-margin-top">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img [src]="jobs[0].companyLogo"></ion-img>
          </ion-thumbnail>
          <ion-label>Minimum CTC of 3 LPA</ion-label>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10" offset="1" class="ion-margin-top">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img [src]="jobs[0].companyLogo"></ion-img>
        </ion-thumbnail>
        <ion-label>Minimum CTC of 3 LPA</ion-label>
      </ion-item>
  </ion-col>
</ion-row> -->
  </ion-grid>
</ion-content>
