<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employee"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isLogin?'Login':'Register'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2" size-sm="6" offset-sm="3" size-md="4" offset-md="4" size-lg="4" offset-lg="4">
        <ion-img [src]="images[1].imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid&&emailCtrl.touched" lines="none">
            <ion-label>Should be a valid email address</ion-label>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!passwordCtrl.valid&&passwordCtrl.touched" lines="none">
          <ion-label>Should be at least 6 character</ion-label>
        </ion-item>
        <div *ngIf="!isLogin">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="tetx" ngModel name="firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="lastName"></ion-input>
          </ion-item>

        </div>
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Select the Role:</ion-label>
          <ion-select [ngModel]="'employee'" name="role" interface="popover">
            <ion-select-option value="employee">Employee</ion-select-option>
            <ion-select-option value="employer">Employer</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="onLogin()" [disabled]="!f.valid">{{isLogin?'Login':'Register'}}</ion-button>
        <ion-button color="primary" fill="clear" expand="block" (click)="onSwitchAuthMode()">{{isLogin?'Not Registered? Signup':'Already Registered? Login'}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" size-sm="6" offset-sm="3" size-md="4" offset-md="4" size-lg="4" offset-lg="4">
        <a (click)="presentActionSheet()">
          <img src="../../assets/googlelogo.png">
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>
