<ion-header>
  <ion-toolbar>
    <ion-title>
      Report Complaint
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="companyName" placeholder="Enter the company name"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Select Department</ion-label>
      <ion-select [(ngModel)]="selectedDepartment">
        <ion-select-option value="finance">Finance</ion-select-option>
        <ion-select-option value="marketing">Marketing</ion-select-option>
        <ion-select-option value="hr">HR</ion-select-option>
        <ion-select-option value="operations">Operations</ion-select-option>
        <ion-select-option value="sales">Sales</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-textarea style="min-height: 300px;
      width: 100%;
      font-size: 20px;
      line-height: 30px;
      overflow-y: scroll;" [(ngModel)]="complaintDescription" placeholder="Enter your complaint here"></ion-textarea>
    </ion-item>
    
    <ion-button (click)="submitComplaint()" expand="block">Send</ion-button>
  </ion-card>
</ion-content>



