<ion-header>
  <ion-toolbar>
    <ion-title>
      Account/Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let qa of questionsAndAnswers">
      <ion-item (click)="qa.showAnswer = !qa.showAnswer">
        {{ qa.question }} 
        <ion-icon [name]="qa.showAnswer ? 'remove' : 'add'" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="qa.showAnswer">
        <ion-text style="white-space: pre-line;">{{ qa.answer }}</ion-text>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
