<ion-header>
  <ion-toolbar>
    <ion-title>Edit Job</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateJob()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employer/jobs-posted/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Salary(LPA):</ion-label>
            <ion-input type="number" formControlName="salary"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Deadline:</ion-label>
            <ion-input id="fromDate" value="{{fromDate}}" formControlName="deadlineDate"></ion-input>
            <ion-popover trigger="fromDate" [keepContentsMounted]=true>
              <ng-template>
                <ion-datetime presentation="date" [showDefaultButtons]="true" [(ngModel)]="fromDate" id="fromDate" formControlName="deadline"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size-sm="6"  offset-sm="3">
          <ion-item>
            <ion-label position="floating">Job Description:</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description').valid&&form.get('description').touched">
        <ion-col size-sm="6" offset-sm="3">
          <label>Description must be between 1 and 500 characters.</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6"  offset-sm="3">
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Skills Required:</ion-label>
            <ion-select name="skills" interface="popover" formControlName="skills" [multiple]="true">
              <ion-select-option value="java">Java</ion-select-option>
              <ion-select-option value="Python">Python</ion-select-option>
              <ion-select-option value="React">React</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Experience Required:</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="experience" placeholder="e.g. Minimum 2-3 Years"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
</ion-content>
