<ion-header>
  <ion-toolbar>
    <ion-title>Help Center</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<a routerLink="/employer/jobs-posted">Click ME</a> -->

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div style="text-align: center;"><ion-icon class="icon-class" name="person-outline"></ion-icon></div>
        <div style="text-align: center;">Account/Profile</div>
      </ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      <div style="text-align: center;">Account/Profile</div>
    </ion-card-content>

  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div style="text-align: center;"><ion-icon class="icon-class" name="document-outline"></ion-icon></div>
        <div style="text-align: center;">Find Jobs</div>
      </ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      <div style="text-align: center;">Find jobs matching your preference on SmartHire</div>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="technicalissues">
    <ion-card-header>
      <ion-card-title>
        <div style="text-align: center;"><ion-icon class="icon-class" name="settings-outline"></ion-icon></div>
        <div style="text-align: center;">Technical Issues</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="text-align: center;">Report any technical difficulty you are facing here</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div style="text-align: center;">Need Further Assistance?</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="text-align: center;">Cant find what you are looking for? Submit your request here</div>
    </ion-card-content>
  </ion-card>

</ion-content>

  