.backgroundimg{
  background: url('../../assets/icon/Loading-Background.svg');
}
ion-slide{
  height: 100vh;

}

.back{
  background: url(../../assets/icon/Loading-Background.svg) no-repeat center;
  background-size: cover;
}
