<ion-header>
</ion-header>
<ion-content>
<ion-slides pager="true ">
  <ion-slide>
 <ion-grid>
  <ion-row>
    <ion-col size="8" offset="2">
      <ion-img [src]="[images[0].imageUrl]"></ion-img>
      <label class="ion-padding">
        <h1>What is Smart Hire?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Enim maxime fuga voluptatem aliquam nostrum.
           Autem, soluta molestias. Voluptate ab,
           repellat vel voluptatem sint harum nulla
           minima porro placeat debitis commodi!</p>
      </label>

    </ion-col>
  </ion-row>
 </ion-grid>

  </ion-slide>
  <ion-slide class="back">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-title><h4>Get The Job That Your Dream</h4></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h6>Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Amet debitis pariatur maiores numquam at
                </h6>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
        </ion-row>
        <ion-row>
      <ion-col size="6" offset="3" size-sm="6" offset-sm="3" size-md="4" offset-md="4" size-lg="2" offset-lg="5">
          <ion-img [src]="[images[2].imageUrl]" ></ion-img>
          </ion-col>
          </ion-row>
          <ion-row>
          <ion-col>
          <label class="ion-padding-vertical">
            <a routerLink="/employee">Continue<!-- <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon>--></a>
          </label>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" offset="2" size-sm="6" offset-sm="3" size-md="4" offset-md="4" size-lg="4" offset-lg="4">
            <ion-img [src]="images[1].imageUrl"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <h3>Trusted by Many</h3>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>

  </ion-slide>
</ion-slides>
</ion-content>
