

<ion-header>
  <ion-toolbar>
    <ion-title>
      Complaint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Select Department</ion-label>
    <ion-select>
      <ion-select-option value="finance">Finance</ion-select-option>
      <ion-select-option value="marketing">Marketing</ion-select-option>
      <ion-select-option value="hr">HR</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-textarea style="min-height: 300px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    overflow-y: scroll;" placeholder="Enter your complaint here"></ion-textarea>
  </ion-item>

  <ion-button expand="block" >Send</ion-button>
</ion-content>

